In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('scaled_vector_association_measure_correct_mwe_best_f1_with_lr_prediction.tsv', sep='\t')

df

,assoc_measure,type,mwe,is_correct
0,5806.059447,PRZYMIOTNIK + RZECZOWNIK (uzgodnienie),bestialską hałotą,0
1,5806.044452,RZECZOWNIK + RZECZOWNIK,Ska Band,1
2,5806.040728,RZECZOWNIK + PRZYMIOTNIK (uzgodnienie),egzaminu kwalifikacyjnego,1
3,5806.038038,RZECZOWNIK + RZECZOWNIK,płatności bezstykowe,0
4,5806.036430,RZECZOWNIK + PRZYMIOTNIK (uzgodnienie),Zbiorniki trzywarstwowe,0
...,...,...,...,...
99995,3063.755478,RZECZOWNIK + PRZYMIOTNIK (uzgodnienie),piłki nożnej,0
99996,3011.474680,RZECZOWNIK + RZECZOWNIK,Jana Pawła,1
99997,2970.043913,RZECZOWNIK + PRZYMIOTNIK (uzgodnienie),Unii Europejskiej,1
99998,2950.099963,RZECZOWNIK + RZECZOWNIK,Gromadzę tłuszczyk,1
99999,2950.099963,RZECZOWNIK + RZECZOWNIK,Piekielnie inteligentny,1

In [3]:
len(set(df['type']))

6