In [2]:
import os

import pandas as pd

In [20]:
princeton_df_path = os.path.join('..', 'storage', 'misc', 'mwe_mwe-lists_Princeton-WN_princeton-wn_eng_phrases-with-lbl-info.tsv')

princeton_df = pd.read_csv(princeton_df_path, sep='\t', header=None)

summary_df_path = os.path.join('..', 'storage', 'misc', 'mwe_mwe-lists_SUMMARY_mwe-all-sources-with-lbl-info-non-words-popular-en-unique.tsv')

summary_df = pd.read_csv(summary_df_path, sep='\t', header=None)

summary_df

                                0   1        2   3
0                   south america  en    SPACE  16
1                     new zealand  en    SPACE  16
2                  carbon dioxide  en    SPACE  16
3                    solar energy  en    SPACE  15
4                    sierra leone  en    SPACE  15
...                           ...  ..      ...  ..
374616             100-meter dash  en  - SPACE   2
374617  0th law of thermodynamics  en    SPACE   2
374618                         0-  en        -   2
374619                0800 number  en    SPACE   2
374620       0/1 knapsack problem  en  / SPACE   2

[374621 rows x 4 columns]

In [22]:
princeton_mwe_list = princeton_df.iloc[:, 0].tolist()

print(f'summary_df len before filtering: {len(summary_df)}')

summary_df = summary_df[~summary_df[0].isin(princeton_mwe_list)]

print(f'summary_df len after filtering: {len(summary_df)}')

output_filepath = os.path.join('..', 'storage', 'misc', 'mwe_mwe-lists_SUMMARY_mwe-all-sources-except-princeton-wn-with-lbl-info-non-words-popular-en-unique.tsv')

summary_df.to_csv(output_filepath, sep='\t', index=False)

summary_df len before filtering: 339619
summary_df len after filtering: 339619